html {
    background: #4FC8B1;
    font-family: 'Bebas Neue', sans-serif
}

/* * {
    border: 2px solid red
} */

/* //////HEADER + MAIN DISPLAY//////// */
body {
    display: flex;
    
}

h1 {
    font-size: 20px;
}

h2{
    margin: auto;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    color:#C9FBC2;
    
}

.game {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    gap: 20px;
    width:100%
}

/* //////////////////LEVEL BUTTONS////////////// */
.game-option-button {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.level-button {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-color: #C9FBC2;
    margin: auto;
    color:#4FC8B1;
    text-align: center;
    border: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

.level-button:hover {
    background-color: white;
    color:#4FC8B1;
} 

/* ////////////////SCORE BOARD//////////////////////////// */
#human-score {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    float: left;
    background-color:#C9FBC2;
    width: 140px;
    text-align: center;
    height: 200px;
    border-radius: 15px;
    color:#4FC8B1
}

#computer-score {
    display: flex;
    flex-direction: column;
    float: right; 
    background-color: #C9FBC2;
    width: 140px;
    text-align: center;
    height: 100vh; 
    height: 200px;
    border-radius: 15px;
    color:#4FC8B1;
}

h3 {
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom:50px;
    color:#C9FBC2;
    margin: auto;

}

h4 {
    font-size: 20px 
}
/* /////////IMAGES///////// */
.fighter-image {
    height:170px;

} 

.choose-fighter-image{
display: flex;
justify-content: center;
flex-direction:row;
text-align:center
} 

/* .change-game-button hidden {
    display: none
} */

.hidden {
    display: none
}

