html {
    background: #4FC8B1;
    font-family: 'Bebas Neue', sans-serif
}

/* //////HEADER + MAIN DISPLAY//////// */
body {
    display: flex;
}

h1,
h4 {
    font-size: 20px;
}

h2{
    margin: auto;
    font-size: 60px;
    padding-top: 20px;
    color:#C9FBC2;
}

.game {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    gap: 20px;
    width:100%
}

/* //////////////////LEVEL BUTTONS////////////// */
.game-option-button {
    display: flex;
    flex-direction: column;  
    gap: 15px;
}

.level-button-1,
.level-button-2 {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: #C9FBC2;
    color:#4FC8B1;
    border: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    padding-bottom: 50px;
}

.level-button-1:hover,
.level-button-2:hover {
    background-color: white;
    color:#4FC8B1;
} 

.change-game-button {
    display:flex;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    background-color:#C9FBC2;
    margin: auto;
    color:#4FC8B1;
    text-align: center;
    border: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 17px;
    justify-content: center;
    padding-top: 10px;
}

.change-game-button:hover {
    background-color: white;
    color:#4FC8B1;
} 

/* ////////////////SCORE BOARD//////////////////////////// */
#human-score,
#computer-score {
    display:flex;
    flex-direction:column;
    background-color:#C9FBC2;
    width: 160px;
    text-align: center;
    height: 200px;
    border-radius: 10px;
    color:#4FC8B1;
    border: 0
}

h3 {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom:30px;
    color:#C9FBC2;
}

/* /////////IMAGES///////// */

.fighter-image,
.fighter-image-classic,
.fighter-image-difficult {
    height:170px;
} 

.choose-fighter-image{
display: flex;
flex-direction:row;
padding-bottom: 25px;
} 

.hidden {
    display: none
}


